html,body {
    color: white;
    background-color: #21232a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3 rm;
    padding: 70px;
}

button{
    padding: 10px;
    font-size: 1.3rm;
    margin-right: 10px;
}